# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vscode/arduino.json
LICENSE
LICENSE
*.weights
yolov3.cfg
CameraStreamer.egg-info/dependency_links.txt
CameraStreamer.egg-info/PKG-INFO
CameraStreamer.egg-info/requires.txt
CameraStreamer.egg-info/SOURCES.txt
CameraStreamer.egg-info/top_level.txt
*.gz
CameraStreamer/error.png
